:root {

    /* main */
  --width-main: 1200px;

  /* size */
  --base: 1rem;
  --sm: calc(var(--base) * 1.5);
  --med: calc(var(--base) * 3);
  --large: calc(var(--base) * 5);

  /*  */
  --shadow: 0 2rem 3rem #777;

  /* border-radius :basic 4px=0.25rem  */
  --border-radius-4px: 0.3rem;

  /* Animation :basic 300ms=0.3s  */
  --animation_basic-duration-300ms: 300ms;

  /* letterspacing : basic 0.1rem */
  --letterspacing-basic: 0.1rem;  

  /* color-light */

  --color-light-btn: #cc0000;
  --color-light-btn-text: white;
  --color-light-left-background: #cecece;
  --color-light-left-text: #2f4f4f;
  
  --color-light-right-background: white;
  --color-light-right-text: #000000;

  /* color-dark */

  --color-dark-btn: #f0f8ff;
  --color-dark-btn-text: 800080;
  --color-dark-left-background: white;
  --color-dark-left-text: #696969;
  
  --color-dark-right-background: #008080;
  --color-dark-right-text: white;













  --color-main1: #cecece;
  --color-main2: white;

  --color-text1: #2f4f4f;
  --color-text2: #000000;


  --color-primary: #0d6efd;
  --color-secondary: #6C757D;
  --color-success: #198754;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #0dcaf0;
  --color-light: #f8f9fa;
  --color-dark: #212529;  
  }
  
  * {
    text-decoration: none; 
    border: 0;
    margin: 0;
    padding: 0;  

    box-sizing: border-box;  
    transition: all 0.2s linear;   
    scroll-behavior: smooth;
  }




  .myBtn {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
  
    background-color: #33bdef;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
   
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px px #5b6178;

    margin: 0.5rem;
  }

  .myBtn:active {
    position: relative;
    top: 1px;
  }


  /* 🥚 */

  .title{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .world{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .world .world-left.light{
      background-color: var(--color-main1);      
      width: 50vw;
      height: 80vh;
  }

  .world .world-right{
      background-color: var(--color-main2);      
      width: 50vw;
      height: 80vh;
  }

  /*  */
  .myBtn.light {    
    background-color: #cc0000;/*  */
    color: white;/*  */
  }


  /*  */
  .world-left .text {
      color: var(--color-text1);
  }
  .world-right .text {
      color: var(--color-text2);
  }





  /*  */
  input{
      width: 50vw;
      height: 2rem;
      border: 1px solid black;
  }





















/* 🍀Bottom - Utility class */
.block{
    display: block;
}
