:root {

    /* main */
  --width-main: 1200px;

  /* size */
  --base: 1rem;
  --sm: calc(var(--base) * 1.5);
  --med: calc(var(--base) * 3);
  --large: calc(var(--base) * 5);

  /*  */
  --shadow: 0 2rem 3rem #777;

  /* border-radius :basic 4px=0.25rem  */
  --border-radius-4px: 0.3rem;

  /* Animation :basic 300ms=0.3s  */
  --animation_basic-duration-300ms: 300ms;

  /* letterspacing : basic 0.1rem */
  --letterspacing-basic: 0.1rem;  

  /* color */
  --color-main1: #cecece;
  --color-main2: white;

  --color-text1: #2f4f4f;
  --color-text2: #000000;





  --color-primary: #0d6efd;
  --color-secondary: #6C757D;
  --color-success: #198754;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #0dcaf0;
  --color-light: #f8f9fa;
  --color-dark: #212529;  
  }
  
  * {
    text-decoration: none; 
    border: 0;
    margin: 0;
    padding: 0;  

    box-sizing: border-box;  
    transition: all 0.2s linear;   
    scroll-behavior: smooth;
  }




  .myBtn {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px px #5b6178;

   margin: 0.5rem;
  }
  .myBtn:hover {
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color: #019ad2;
  }
  .myBtn:active {
    position: relative;
    top: 1px;
  }

  /* 🥚 */

  .title{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .world{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .world .world-left{
      background-color: var(--color-main1);      
      width: 50vw;
      height: 80vh;
  }

  .world .world-right{
      background-color: var(--color-main2);      
      width: 50vw;
      height: 80vh;
  }

  /*  */
  .btn_me {
    background: linear-gradient(to bottom, #cc0000 5%, #cc0000 100%);
  }
  .btn_me:hover {
    background: linear-gradient(to bottom, #cc0000 5%, #cc0000 100%);
    background-color: #cc0000;
  }
  
  .btn_me:active {
    position: relative;
    top: 1px;
  }

  /*  */
  .world-left .text {
      color: var(--color-text1);
  }
  .world-right .text {
      color: var(--color-text2);
  }





  /*  */
  input{
      width: 50vw;
      height: 2rem;
      border: 1px solid black;
  }





















/* 🍀Bottom - Utility class */
.block{
    display: block;
}
